:host {
  display: block;
  max-width: 1100px;
  margin: 40px auto;
}

.campo {
  margin-bottom: 15px;
}

.loading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.empty {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

.empty i {
  font-size: 2rem;
  margin-bottom: 10px;
}
